{% extends "base.html" %}
{% block title %}Delete Article{% endblock %}
{% block menu %}
    <li><a href="{% url 'article_view' article.pk %}">Подробнее о статье</a></li>
{% endblock %}
{% block content %}
    <h1 style="color: #000000;">Are you sure want to delete article "{{ article }}"?</h1>
      <form method="POST" action="{% url 'article_delete' article.pk %}" class="text-center">
        {% csrf_token %}
        <p><input class="btn" type="submit" value="Confirm"></p>
        <p><a href="{% url 'index' %}">Cancel</a></p>
    </form>
{% endblock %}