{% extends 'base.html' %}
{% load static %}
{% block menu %}
{% if user.is_authenticated %}
{% endif %}
{% endblock %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="product_detail_item">
    <div>
        <h2>{{ product.name }}</h2>
    <img src="{{product.image.url}}">
    <p>Описание: {{ product.description }}</p>
    <p>Категория: {{ product.get_category_display }}</p>
    {% if user.is_authenticated %}
    {% if perms.webapp.change_article %}
    <a class="change_product_link" href="{% url 'product_update' product.pk %}">Редактировать товар</a>
    {% endif %}
    {% if perms.webapp.delete_article %}
    <a  class="change_product_link"  href="{% url 'product_delete' product.pk %}">Удалить товар</a>
    {% endif %}
    {% endif %}
    <ul class="review_block">
        <b>Отзывы о товаре</b>
        {% if  product.review_product.all%}
        {% for review in product.review_product.all  %}
        <li>
            <p>Автор: {{ review.author }}</p>
            <p>Оценка: {{ review.rate }}</p>
            <p>Отзыв: {{ review.text }}</p>
            <a href="">Удалить отзыв</a>
            <hr>
        </li>
        {% endfor %}
        <p>Рейтинг товара: <b>{{ product.get_avg_rating }}</b></p>
        {% else %}
        <p>Нет отзывов</p>
        <p>Рейтинг товара: <b>0</b></p>
        {% endif %}
    </ul>
    </div>
</div>
{% endblock %}
