{% extends "base.html" %}
{% block title %}Delete Article{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1 style="color: #000000;">Are you sure want to delete article "{{ product.name }}"?</h1>
      <form method="POST" action="{% url 'product_delete' product.pk %}" class="text-center">
        {% csrf_token %}
        <p><input class="btn" type="submit" value="Confirm"></p>
        <p><a class="delete_btn" href="{% url 'index' %}">Cancel</a></p>
    </form>
{% endblock %}